<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:property name="base_to_hip_x" value=".1125"/>
	<xacro:property name="base_to_hip_y" value=".0475"/>
	<xacro:property name="hip_to_upper_leg_distance" value=".015"/>
	<xacro:property name="upper_leg_to_lower_leg_distance" value=".1"/>
	<xacro:property name="lower_leg_to_foot_distance" value=".102"/>

	<xacro:property name="hip_mesh_path" value="package://victor_description/meshes/hip.dae"/>
	<xacro:property name="hip_mass" value=".25"/>
	<xacro:property name="hip_x_length" value=".04"/>
	<xacro:property name="hip_y_length" value=".03"/>
	<xacro:property name="hip_z_length" value=".03"/>

	<xacro:property name="upper_leg_mesh_path" value="package://victor_description/meshes/upper_leg.dae"/>
	<xacro:property name="upper_leg_mass" value=".125"/>
	<xacro:property name="upper_leg_x_length" value=".03"/>
	<xacro:property name="upper_leg_y_length" value=".01"/>
	<xacro:property name="upper_leg_z_length" value=".1"/>

	<xacro:property name="lower_leg_mesh_path" value="package://victor_description/meshes/lower_leg.dae"/>
	<xacro:property name="lower_leg_mass" value=".125"/>
	<xacro:property name="lower_leg_x_length" value=".03"/>
	<xacro:property name="lower_leg_y_length" value=".01"/>
	<xacro:property name="lower_leg_z_length" value=".102"/>

	<xacro:property name="base_mesh_path" value="package://victor_description/meshes/base.dae"/>
	<xacro:property name="base_mass" value="2.0"/>
	<xacro:property name="base_x_length" value=".175"/>
	<xacro:property name="base_y_length" value=".095"/>
	<xacro:property name="base_z_length" value=".01"/>
</robot>	
